@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

html {
  min-width: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  background: #F3F3F3;
  color: #fafafa;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px;
  width: 100%;
  background: url(../assets/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__details {
  display: flex;
  align-items: center;
  position: relative;
  left: -50px;
}

.hero__image {
  height: 278px;
  width: 278px;
  border-radius: 50%;
  background: url(../assets/perfil.png);
}

.hero__info {
  margin: 1.5em;
}

.hero__name {
  /* font-family: 'Rubik', sans-serif; */
  font-size: 50px;
  margin: 0;
}
.hero__name-lastname {
  font-weight: 600;
}

.hero__animation {
  margin: 1em 0 0 0.3em;
  display: flex;
}

.hero__animation b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 40px;
  /* top: 40px; */
}

.hero__animationTittle {
  font-size: 30px;
  height: 30px;
  float: left;
  margin-top: 0;
  margin-right: .3em;
}

.hero__animationDrop {
  font-size: 30px;
  line-height: 40px;
  /* margin-top: .5em; */
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  animation-name: move;
  animation-duration: 10s;
  /* animation-delay: .5s; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes move{
  0%, 10%  { top: 0px; }
  20%, 30% { top: -40px; }
  40%, 50% { top: -80px; }
  60%, 70% { top: -120px; }
  80%, 90% { top: -160px; }
}

.react {
  color: #61DAFB;
}
.node {
  color: #83CD29;
}
.webpack {
  color: #8ED5FA;
}
.jest {
  color: #C96F89;
}

.window {
  background-color: #282A36;
  margin: 40px auto;
  height: 400px;
  width: 700px;
  overflow: hidden;
  color: #FAFAFA;
  border-radius: 10px;
  border-top: 1px solid #BCBCBC;
  border-left: 1px solid #BCBCBC; 
  border-right: 1px solid #BCBCBC;
  box-shadow: 5px 5px 8px 0px rgba(40,42,54,0.48);;
}

.window__bar {
 display: flex;
 align-items: center;
 justify-content: center;
 padding-left: 14px;
 height: 30px;
 width: 100%;
 background-color: #fafafa;
 color: #282A36;
}

.window_circles {
  display: flex;
  margin-right: auto;
}

.window__circle {
  height: 18px;
  width: 18px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
}

.window__circle.red {
  background-color: #FF6767;
  margin-left: 0;
}
.window__circle.yellow {
  background-color: #FCED67;
}
.window__circle.green {
  background-color: #67FC8F;
}

.window__bar p {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

.window__text {
  padding: 14px;
  font-size: 27px;
  line-height: 1.4em;
}

.window__text--pink {
  color: #FF79C6;
  font-weight: 600;
}
.window__text--violet {
  color: #BD93F9;
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #fafafa;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer__text {
  color: #282A36;
  font-size: 20px;
}

.footer img {
  height: 1.7em;
  width: auto;
  margin-top: .2em;
  margin-left: .3em;
}