@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  background: #F3F3F3;
  color: #fafafa;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  color: #282A36;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.header {
  background-color: #282A36;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.header__logo {
  margin: 0;
}
.header__logo img {
  padding: 0;
  height: 50px;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header ol {
  display: flex;
  height: inherit;
}

.menu {
  height: inherit;
}

.header ol li {
  height: inherit;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px;
  width: 100%;
  background: url(../assets/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__details {
  display: flex;
  align-items: center;
  position: relative;
  left: -50px;
  padding: 10px;
}


.hero__image {
  min-width: 200px;
  max-width: 300px;
  border-radius: 100%;
}

.hero__info {
  margin: 1.5em;
}

.hero__name {
  font-family: 'Almarai', sans-serif;
  font-size: 50px;
  margin: 0;
}
.hero__name-lastname {
  font-weight: 600;
}



.window {
  background-color: #282A36;
  height: auto;
  max-width: 450px;
  overflow: hidden;
  color: #FAFAFA;
  border-radius: 10px;
  border-top: 1px solid #BCBCBC;
  border-left: 1px solid #BCBCBC; 
  border-right: 1px solid #BCBCBC;
  box-shadow: 5px 5px 8px 0px rgba(40,42,54,0.48);;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1/2fr;
  gap: 10px;
  margin: auto;
  max-width: 1200px;
  padding: 1em;
}

.window:nth-of-type(1) {
  grid-row: span 3;
  justify-self: end;
  width: 100%;
}

.about {
  max-width: 700px;
  margin: 2em auto;
}

.contact {
  background: #E6E6E6;
}

.window__bar {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 30px;
 height: 30px;
 width: 100%;
 background-color: #fafafa;
 color: #282A36;
 align-items: center;
}

.window_circles {
  display: flex;
  margin-left: 10px;
}

.window__circle {
  height: 18px;
  width: 18px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
}

.window__circle.red {
  background-color: #FF6767;
  margin-left: 0;
}
.window__circle.yellow {
  background-color: #FCED67;
}
.window__circle.green {
  background-color: #67FC8F;
}

.window__bar p {
  justify-self: center;
  font-family: 'Almarai', sans-serif;
  font-weight: bold;
}

.window__text {
  padding: 14px;
  font-size: 24px;
  line-height: 1.6em;
}

.margin-fix {
  margin-bottom: 0;
}

.green {
  color: #50FA7B;
  font-weight: 600;
}
.lightblue {
  color: #8BE9FD;
  font-weight: 600;
}
.pink {
  color: #FF79C6;
  font-weight: 600;
}
.violet {
  color: #BD93F9;
  font-weight: 600;  
}

.contact__item {
  display: flex;
}

.contact__text {
  text-decoration: none;
  color: #282A36;
  margin: 1em 0 1em 1em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #fafafa;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
}

.footer__text {
  color: #282A36;
  font-size: 20px;
}

.footer img {
  height: 1.7em;
  width: auto;
  margin-top: .2em;
  margin-left: .3em;
}