@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 860px) {
  .hero__details {
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero__name {
    font-size: 30px;
  }
  body > .window:nth-of-type(2) {
    margin: 1em 1em;
    width: auto;
  }
  .window {
    max-width: initial;
    width: 100%;
  }
  .window:nth-of-type(1) {
    justify-self: initial;
  }
  .grid__container {
    justify-items: center;
  }
  .window__text {
    font-size: 20px;
  }
  .grid__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 548px) {
  .hero__details {
    display: block;
  }
  .hero__image {
    display: flex;
    margin: auto;
    width: auto;
    max-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero__details {
    left: 40;
  }
  .window {
    font-size: 14px;
  }

}
@media screen and (max-width: 320px) {
 .hero__animationTittle {
   font-size: 25px;
 }
 .contact__item img {
   display: none;
 }
 .contact__text {
   margin: initial;
 }
}